.hdr{
    background-color:black;
    color:white;
  }
  h1,p{
    text-align:center;
    font-family:sans-serif;
    margin:20px;
    padding:10px;
    justify-content:space-evenly;
  }
  img{
    width:50%;
    margin-left:25%;
  }
  li{
   margin-left:40%;
  }
  h2,h3,h4{
    text-align:center;
    font-family:sans-serif;
  }
  .ig{
    width:70%;
    margin-left:15%;
  }
  .logo{
    letter-spacing:7px;
    font-size:30px;
    margin-left:5px;
  }
  body{
    background-color: #36454F;
  }